<div class="add-product">
    <h2 class="add-product">Add New Product</h2>
    <form class="add-product" (ngSubmit)="addProduct()" #addPrdctForm="ngForm">
    <div class="form-group">
        <label for="category">Category</label>
        <select id="category" [(ngModel)]="newProduct.categoryId" required name="category" #categorySelected="ngModel">
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
        <!-- <div *ngIf="categorySelected.invalid && (categorySelected.dirty || categorySelected.touched)" class="error">
            Category is required.
        </div> -->
    </div>
    <div class="form-group">
        <label for="productName">Name:</label>
        <input type="text" id="productName" [(ngModel)]="newProduct.name" #name="ngModel" required
        name="name" placeholder="Name">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
            Name is required.
        </div>
    </div>
    <div class="form-group">
        <label for="productPrice">Price($)</label>
        <input type="number" id="productPrice" [(ngModel)]="newProduct.price" #price="ngModel" required
         name="price" placeholder="Price">
         <div *ngIf="price.invalid && (price.dirty || price.touched)" class="error">
            Price is required.
         </div>
    </div>
    <div class="form-group">
        <label for="productDescription">Description</label>
        <textarea id="productDescription" [(ngModel)]="newProduct.description"  #description="ngModel" required
        name="description" placeholder="Description">
        </textarea>
        <div *ngIf="description.invalid && (description.touched || description.dirty)" class="error">
            Description is required.
         </div>
    </div>
    <div class="button-group">
        <button  class="btn-submit" type="submit" [disabled]="addPrdctForm.invalid"
        [ngClass]="{'btn-submit-enabled': !addPrdctForm.invalid, 'btn-submit-disabled': addPrdctForm.invalid}">Update</button>
        <button type="butn-cancel" (click)="cancelAdd()">Cancel</button>
    </div>
    </form>
</div>
